.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }

    a {
      color: black;
    }

    > a.call-to-action {
      margin-left: auto;
      border-radius: 5px;
      border: 2px solid rgb(0, 81, 255);

      padding: 5px 8px 4px 8px;
      font-weight: bold;
      color: rgb(0, 81, 255);

      font-size: 12px;

      @include media-breakpoint-up(sm) {
        padding: 6px 8px 4px 8px;
        font-size: 16px;
        border: 3px solid rgb(0, 81, 255);
      }

    }
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
