.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  text-align: center;

  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);

  @include media-breakpoint-up(md) {
    padding-top: 40px;
    padding-bottom: 40px;

    // PC -> gradient
    /*background: linear-gradient(45deg, rgb(33, 220, 198) 0%, rgb(170, 180, 233) 100%);*/
  }
  h1 {
    color: $black;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      // width: 80%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 55px;
    }
  }
  h2 {
    // width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $grey;
    // @include media-breakpoint-up(md) {
    //   width: 80%;
    // }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
