<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{% include twitter.html %}</li>
          <li>{% include github.html %}</li>

      </ul>
    </div>

    <div class="footer-col-2 column">
        <p class="text">{{ site.description }}</p>
    </div>

    <div class="footer-col-3 column">
        <p class="text">Tot el contingut d'aquesta web creat per Guifibages és sota <a href="http://creativecommons.org/licenses/by/4.0/deed.ca">Llicència Creative Commons de Reconeixement (cc-by)</a></p>

    </div>

  </div>

</footer>
